@CHARSET "ISO-8859-1";

/*Gerais*/

/* Botoes */
#navegarAnterior{
	height: 32px;
	width: 32px;
	color: transparent;
	text-indent: -9999px;
	border-style: none;
	background-image: url("../img/Back_w32h32.png");
}

#navegarProximo{
	height: 32px;
	width: 32px;
	color: transparent;
	text-indent: -9999px;
	border-style: none;
	background-image: url("../img/Forward_w32h32.png");
	float: right;
}

.addConsumo{
	height: 32px;
	width: 32px;
	color: transparent;
	text-indent: -9999px;
	border-style: none;
	background-image: url("../img/Add_w32h32.png");
}

.delConsumo{
	height: 32px;
	width: 32px;
	color: transparent;
	text-indent: -9999px;
	border-style: none;
	background-image: url("../img/Remove_w32h32.png");
}

/* icones e imagens*/
.iconeAvaliacao {
	height: 32px;
	width: 32px;
	display: inline-block;
	color: transparent;
	text-indent: -9999px;
	border-style: none;
	background-repeat: no-repeat;
}

.ok {
	background-image: url("../img/Smiley_Happy_w32h32.png");
}

.sobra {
	background-image: url("../img/Symbol_Up_w32h32.png");
}

.excesso {
	background-image: url("../img/Smiley_Sad_w32h32.png");
}

/* tags */
ol, ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}

li {
	display: table;
	height: 35px;
}

li span {
	display: table-cell;
	vertical-align: middle;
	background-color: lightsteelblue;
	border-radius: 10px;
	border-style: outset;
	border-width: 2px;
}

label {
	width: 150px;
	display: inline-block;
}

/* tipos de dados */
.descricao {
	width: 300px;
	text-indent: 5px;
}

.medida {
	width: 150px;
}

.valor {
	text-align: center;
	width: 50px;
}

/* Areas */
.total {
	background-color: none;
	background-color: inherit;
	border-style: none;
	text-align: center;
	padding-left: 4px;
}

.cabecalho{
	text-align: center;
}

/*Alinhamento*/
.center{
	width:510px;
	margin-left: auto;
	margin-right: auto;
}